#  The "NuggetID" is a UUID that uniquely identifies this
#  specific instance of the nugget.  Each running nugget
#  must have a unique UUID.  The dispatcher will refuse
#  connections from duplicate UUIDs or from UUIDS that are
#  unregistered.
#
#  Register your new nuggetID using the script in dispatcher/scripts:
#
#  ./addNugget --uuid=4e7e65f9-e0e3-4329-9ec6-eb01c763440e --name="New Nugget" --location="some closet" --contact="sysadmin" --notes="Nothing to see here"
#
#
NuggetId="849942cd-ee07-4ffd-a8d9-f1dcf1f768c1";

## Values of zero for the following thread counts mean use the values configured in api.conf
Threads: {
    Initial=0;
    Max=0;
};

Compression: {
    bz2=1;
    compression=1;
    gzip=1;
    lzma=1;
    xz=1;
};
Format: {
    ar=1;
    cpio=1;
    iso9660=1;
    tar=1;
    zip=1;
};
